* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: fit-content;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 1.3;
}
